.header {
  top: 0;
  z-index: 10;
  padding: 1rem 0;
}

.inner {
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.link {
  transition: opacity 150ms ease;
}

.link:hover {
  opacity: 0.8;
}
