.header {
  top: 0;
  z-index: 10;
  padding: 2rem 0;
}

.inner {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link {
  transition: opacity 150ms ease;
}

.link:hover {
  opacity: 0.8;
}
