/* src/components/CustomerHelp/CustomerHelp.module.css */
.customerHelp {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  border-bottom: 1px solid #e5e7f3;
  padding-bottom: 1rem;
}

.question {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 1rem 0;
  color: #495274;
  font-size: 1rem;
}

.answer {
  padding: 1rem;
  color: #8d96bd;
  display: flex;
  gap: 2rem;
  /* align-items: center; */
}

.docButton {
  align-self: center;
}
