.customers {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

@media (max-width: 719px) {
  .customers {
    flex-direction: column;
    gap: 2rem;
  }
}
