/* src/components/PlanAndManage/PlanAndManage.module.css */
.planAndManage {
  padding: 8rem 0;
  display: flex;
  gap: 2rem;
  width: 100%;
}

@media (max-width: 719px) {
  .planAndManage {
    flex-direction: column;
  }
}
