.heroBg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f1f5ff;
  background-image: url('/images/hero-bg-8.svg');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -10;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 512px;
}

.highlight {
  background: #f1f5ff;
  box-shadow: 0 0 1rem 1rem #f1f5ff;
}
