.heroBg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f1f5ff;
  background-image: url('/images/hero-bg-19.svg');
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -10;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 512px;
  position: relative;
  padding: 1rem 0;
  /* background-image: url('/images/clouds.svg');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat; */
}

.highlight {
  /* background: #f1f5ff;
  box-shadow: 0 0 1rem 1rem #f1f5ff; */
}

.row {
  position: absolute;
  bottom: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
}

.bubbleLeft {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 200px;
  max-width: 100%;
  background: white;
  opacity: 50%;
  clip-path: ellipse(200px 200px at 50% 100%);
  filter: drop-shadow(0 0 2.5rem rgba(150, 170, 220, 0.5));
}

.bubbleCenter {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 200px;
  height: 100px;
  background: white;
  opacity: 25%;
  clip-path: ellipse(100px 100px at 50% 100%);
}

.bubbleRight {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  max-width: 100%;
  height: 150px;
  background: white;

  clip-path: ellipse(150px 150px at 50% 100%);
  box-shadow: 0 0 2.5rem rgba(150, 170, 220, 0.125);
}

@media (max-width: 719px) {
  .heroBg {
    background-size: cover;
  }
}
