.button {
  font-family: inherit;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  border: none;
  background: none;
  color: #7382a3;
  background-color: #e8ecf4;
  box-shadow: 0 0.5rem 1rem rgba(232, 236, 244, 0.25);
}
.button:active {
  box-shadow: none;
}

.primary {
  background-color: #3a79ff;
  color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(56, 119, 255, 0.25);
}
.primary:active {
  box-shadow: none;
}

.primarySoft {
  background-color: #d2e1ff;
  color: #3a79ff;
  box-shadow: 0 0.5rem 1rem rgba(210, 225, 255, 0.25);
}
.primarySoft:active {
  box-shadow: none;
}

.secondary {
  background-color: #f43f3f;
  color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(244, 63, 63, 0.25);
}
.secondary:active {
  box-shadow: none;
}

.secondarySoft {
  background-color: #ffd7d7;
  color: #f43f3f;
  box-shadow: 0 0.5rem 1rem rgba(255, 215, 215, 0.25);
}
.secondarySoft:active {
  box-shadow: none;
}

.outline {
  background-color: transparent;
  color: #8d96bd;
  border: 1px solid #d5d9e6;
}
