.button {
  font-family: inherit;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  border: none;
  background: none;
  color: #7382a3;
  background-color: #e8ecf4;
}

.primary {
  background-color: #3a79ff;
  color: #ffffff;
}

.primarySoft {
  background-color: #d2e1ff;
  color: #3a79ff;
}

.secondarySoft {
  background-color: #ffd7d7;
  color: #f43f3f;
}

.outline {
  background-color: transparent;
  color: #8d96bd;
  border: 1px solid #d5d9e6;
}
