/* src/components/AboutUs/AboutUs.module.css */
.about {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
