/* src/components/AboutUs/AboutUs.module.css */
.aboutUsBg {
  background-image: url('/images/about-us-bg.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutUs {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
