/* src/App.css */

#root {
  margin: 0 auto;
  width: 100%;
}

.layout {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#hero {
  display: flex;
  flex: 1;
}
